@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  html[data-theme="custom-theme"] {
    --base: hsl(0, 0%, 100%);
  --base-focus: hsl(0, 0%, 84%);
  --base-2: hsl(0, 0%, 96%);
  --base-2-focus: hsl(0, 0%, 92%);
  --base-content: hsl(0, 0%, 12%);
  --base-content-2: hsl(0, 0%, 23%);
  --base-content-3: hsl(0, 0%, 45%);
  --overlay: hsl(0, 0%, 93%);
  --overlay-focus: hsl(0, 0%, 75%);
  --overlay-2: hsl(0, 0%, 86%);
  --overlay-2-focus: hsl(0, 0%, 75%);
  --overlay-content: hsl(0, 0%, 12%);
  --overlay-content-2: hsl(0, 0%, 23%);
  --overlay-content-3: hsl(0, 0%, 34%);
  --line: hsl(0, 0%, 91.2%);
  --line-focus: hsl(0, 0%, 76.2%);
  --input: hsl(0, 0%, 100%);
  --input-focus: hsl(0, 0%, 100%);
  --input-content: hsl(0, 0%, 15%);
  --input-content-2: hsl(0, 0%, 37%);
  --primary: #bf9543;
  --primary-focus: rgb(236, 185, 122);
  --primary-subtle: hsl(217, 100%, 78.5%);
  --primary-content: hsl(217, 100%, 100%);
  --primary-subtle-content: hsl(217, 100%, 0%);
  --secondary: hsl(200, 97%, 41%);
  --secondary-focus: hsl(200, 97%, 35.5%);
  --secondary-subtle: hsl(200, 97%, 68.5%);
  --secondary-subtle-content: hsl(200, 97%, 0%);
  --secondary-content: hsl(200, 97%, 100%);
  --info: hsl(212, 50%, 40%);
  --info-focus: hsl(212, 50%, 34.5%);
  --info-subtle: hsl(212, 50%, 67.5%);
  --info-subtle-content: hsl(212, 50%, 0%);
  --info-content: hsl(212, 50%, 100%);
  --danger: hsl(0, 75%, 42%);
  --danger-focus: hsl(0, 75%, 36.5%);
  --danger-subtle: hsl(0, 75%, 69.5%);
  --danger-subtle-content: hsl(0, 75%, 0%);
  --danger-content: hsl(0, 75%, 100%);
  --success: hsl(159, 61%, 41%);
  --success-focus: hsl(159, 61%, 35.5%);
  --success-subtle: hsl(159, 61%, 16%);
  --success-subtle-content: hsl(159, 61%, 100%);
  --success-content: hsl(159, 61%, 0%);
  --warning: hsl(49, 95%, 53%);
  --warning-focus: hsl(49, 95%, 47.5%);
  --warning-subtle: hsl(49, 95%, 28%);
  --warning-subtle-content: hsl(49, 95%, 100%);
  --warning-content: hsl(49, 95%, 0%);

   }
  } 
    

html {
  background-color: white;
}

body {
  height: 100vh;
  padding-top: 80px;
}

.navlinks:hover {
  color: #bf9543;
}